<div class="debug-screen border-dark bg-dark">
  <code class="d-block p-0 mb-2 text-white">
    Total: {{getTotalPlayers()}}
  </code>
  <code class="d-block p-0 mb-2 text-white">
    <span>Debug data:</span>
    <p>
      {{getDataToString()}}
    </p>
  </code>
</div>
