<span *ngIf="isShowLabel()"
    class="d-block text-center cell-label">{{"C" + getColumn()}}/{{"R" + getRow()}}</span>
<div class="cell-inner cell-default"
    [class.runged]="isOn()"></div>


<div *ngIf="showLeft()"
    class="cell-inner cell-left cell-left-{{getRow()}}"
    [style.width]="getLeftWidth()"
    [style.height]="getLeftHeight()"
    [style.border-color]="borderLeftColor()"></div>


<div *ngIf="showRight()"
    class="cell-inner cell-right cell-right-{{getRow()}}"
    [style.width]="getRightWidth()"
    [style.height]="getRightHeight()"
    [style.border-color]="borderRightColor()"></div>
