.cell-inner.runged {
    border-bottom: solid 7px #333;
}

.cell-inner {
    position: absolute;
    top: 0;
    height: 100%;
}

.cell-default {
    border-left: solid 7px #333;
    border-right: solid 7px #333;
    width: 100%;
}

.cell-left {
    left: 0;
    width: 0;
    border: solid 7px #333;
    border-top: 0;
    border-right: 0;
    z-index: 5;
    box-shadow: 0 0.225rem .25rem rgba(0,0,0,.075);
    transition: linear 0.5s;
}

.cell-right {
    right: 0;
    width: 0;
    border: solid 7px #333;
    border-top: 0;
    border-left: 0;
    z-index: 5;
    box-shadow: 0 0.225rem .25rem rgba(0,0,0,.075);
    transition: linear 0.5s;
}

.cell-label {
    color: #ccc;
    font-size: 0.8em;
}
