<div *ngFor="let player of getList()"
     class="input-group input-group-sm mb-1">
    <input type="text"
        class="form-control"
        placeholder="">
    <input type="text"
        class="form-control col-2 pick-color">
    <div class="input-group-append">
        <app-emoji-picker></app-emoji-picker>
    </div>
</div>
