<div class="container h-100">
    <div class="row h-100">
        <div class="col-lg-4 offset-lg-4 h-100">
            <div class="d-flex justify-content-center align-items-center h-100 w-100 px-3">
                <app-authentication-app class="w-100"></app-authentication-app>
            </div>
        </div>
    </div>
</div>
