<h3 class="mb-3">Login Here</h3>
<form>
    <div class="form-group mb-2">
        <input type="email" class="form-control" placeholder="Email">
    </div>
    <div class="form-group mb-2">
        <input type="password" class="form-control" placeholder="Password">
    </div>
    <div class="d-flex justify-content-center mb-1">
        <button type="submit" class="btn btn-primary flex-fill">Login</button>
    </div>
    <div class="d-flex flex-column">
        <p class="text-center py-0 my-1">or</p>
        <div class="d-flex justify-content-center mb-2 py-1 w-100">
            <button class="btn btn-danger mr-1 flex-fill">Google</button>
            <button class="btn btn-info ml-1 py-0 flex-fill">Facebook</button>
        </div>
    </div>
</form>
