.navbar-brand {
    cursor: pointer;
    outline: none;
}

td {
  border: dotted 1px #333 !important;
  height: 1em;
}

.dropdown-menu {
  min-width: 0 !important;
}

.dropdown-item {
  cursor: pointer;
}

.active {
  background-color: #E2E6EA;
}

.nav-item .btn {
  outline: none;
}

main {
  position: relative;
}

.nav-link,
.auth-link {
    cursor: pointer;
    outline: 0;
}

.loading-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 9;
}

.loading-bg {
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background: #fff;
}


.loading-content {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
