<nav class="navbar navbar-expand-lg bg-light py-0 px-2 fixed-top shadow-sm">
    <span class="navbar-brand mr-2" routerLink="/">LadderGame</span>
    <span (click)="toggle()" class="navbar-toggler p-0 border-0">
        <span class="fas fa-bars"></span>
    </span>
    <div class="navbar-collapse offcanvas-collapse" [class.open]="isNavCanvasOpen()">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <span class="nav-link" routerLink="/play" routerLinkActive="active">Play</span>
            </li>
            <li class="nav-item">
                <span class="nav-link" routerLink="/setup" routerLinkActive="active">New Game</span>
            </li>
            <li class="nav-item">
                <span class="nav-link" routerLink="/about" routerLinkActive="active">How to play</span>
            </li>
            <li class="nav-item">
                <span class="nav-link" routerLink="/purchase" routerLinkActive="active">Buy Token</span>
            </li>
        </ul>
        <span routerLink="/login"class="text-dark auth-link cursor-pointer my-2 my-sm-0 mr-2">Login</span>
        <span routerLink="/register"class="text-dark auth-link cursor-pointer my-2 my-sm-0 mr-2">Register</span>
        <span href="#" class="text-dark auth-link my-2 my-sm-0 mr-2">Logout</span>
    </div>
    <!--

    <div class="navbar-collapse offcanvas-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item mr-2">
                <span class="nav-link" routerLink="/" >LadderG</span>
            </li>
            <li class="nav-item dropdown py-1">
                <span routerLink="/game" routerLinkActive="active" class="btn btn-light btn-sm align-middle mr-2 border">
                    <i class="fas fa-list mr-1"></i> Game History</span>
            <span routerLink="/setup" routerLinkActive="active"  class="btn btn-light btn-sm align-middle mr-2 border">
                <i class="fas fa-plus mr-1"></i> New Game</span>
            <span routerLink="/about" routerLinkActive="active"  class="btn btn-light btn-sm align-middle mr-2 border">
                <i class="fas fa-info mr-1"></i> How to play</span>
            <span routerLink="/payment" routerLinkActive="active"  class="btn btn-light btn-sm align-middle mr-2 border">
                <i class="fas fa-shopping-cart mr-1"></i> Buy</span>
            </li>
        </ul>
        <span class="btn btn-light btn-sm border mr-2"><i class="far fa-user"></i></span>
        <span class="btn btn-light btn-sm border"><i class="fas fa-power-off"></i></span>
    </div>
    -->
</nav>
<main role="main">
    <div class="loading-overlay" [class.d-none]="!isLoading()">
        <div class="loading-bg"></div>
        <div class="loading-content d-flex justify-content-center align-items-center">
            <span class="fas fa-circle-notch fa-spin fa-3x"></span>
        </div>
    </div>
    <router-outlet></router-outlet>
</main>
