<div *ngFor="let player of getPlayers();let i = index"
     class="input-group input-group-sm mb-1">
    <div class="input-group-prepend">
        <span class="input-group-text bg-light">Player {{i + 1}}</span>
    </div>
    <input type="text"
            [(ngModel)]="player.name"
            class="form-control"
            placeholder="Enter player's name here">
    <input type="text"
            [(ngModel)]="player.lineColor"
            class="form-control col-2 pick-color"
            [cpDisableInput]="true"
            [(colorPicker)]="player.lineColor" [style.background]="player?.lineColor"
            readonly="readonly"
            placeholder="Line color">
    <div class="input-group-append">
        <button class="btn btn-danger"
                type="button"
                placement="top" ngbTooltip="Remove player"
                (click)="removePlayer(player)">
        <span class="fas fa-minus"></span>
        </button>
    </div>
</div>
<form>
    <div class="input-group input-group-sm mb-2">
      <input type="text" [(ngModel)]="currentName"
             class="form-control"
             name="current-name"
             placeholder="Name here" #currentNameInput>
      <input type="text"
             class="form-control col-2 pick-color"
             name="current-color"
             [(ngModel)]="currentColor"
             [(colorPicker)]="currentColor"
             [style.background]="currentColor">
      <div class="input-group-append">
        <button class="btn btn-info"
                type="submit"
                placement="top" ngbTooltip="Add Player"
                (click)="addPlayer()">
          <span class="fas fa-plus"></span>
        </button>
      </div>
    </div>
  </form>
