<h4 class="mb-3d p-0">
    <span [ngClass]="{'d-none': !isStepPlayer()}">Enter Players:</span>
    <span [ngClass]="{'d-none': !isStepBet()}">Enter Bets:</span>
    <span [ngClass]="{'d-none': !isStepGenerateRungs()}" class="align-middle">
        <span class="mr-2">Draw Rungs: </span>
        <span (click)="draw()" class="btn btn-info btn-sm">
            <span class="fas fa-pencil-alt mr-2"></span>
            <span>Draw</span>
        </span>
    </span>
</h4>
<div classs="p-2">
    <app-game-setup-player [ngClass]="{'d-none': !isStepPlayer()}"></app-game-setup-player>
    <app-game-setup-bet [ngClass]="{'d-none': !isStepBet()}"></app-game-setup-bet>
    <app-game-setup-rung [ngClass]="{'d-none': !isStepGenerateRungs()}"></app-game-setup-rung>
    <div class="form-group bg-light text-right mt-2 mb-0 fixed-bottom py-3 setup-action">
        <div class="container text-center">
            <button *ngIf="getCurrentStep() > 0"
                (click)="goBack()" type="button" class="btn btn-outline-info px-3 m-2"
                >Back</button>
            <button (click)="goNext()" type="button" class="btn btn-info px-3"
                [disabled]="getTotalPlayers() < 2">Next</button>
        </div>
    </div>
    <app-game-setup-debug *ngIf="isDebugMode()"></app-game-setup-debug>
</div>
