<div ngbDropdown class="d-inline-block">
  <button class="btn btn-light border btn-sm"
          ngbDropdownToggle>Select Emoji</button>
  <div class="p-0" ngbDropdownMenu>
    <button *ngFor="let emoji of getEmojiList()"
        class="px-1"
        ngbDropdownItem>{{ emoji?.character }}</button>
  </div>
</div>
