<div class="d-flex flex-row h-100">
    <ng-container *ngFor="let columns of getList();let colIndex = index">
        <div [ngClass]="{'d-none': columns.disabled}"
            class="col-cell col-cell-{{colIndex}} w-100 h-100">
            <div *ngFor="let row of columns.list; let rowIndex = index"
                class="row-cell row-cell-{{rowIndex}}">
                <app-rung-cell [cell]="row"></app-rung-cell>
            </div>
        </div>
    </ng-container>
</div>
