<div class="container">
    <div class="row">
        <div class="col-12 py-3">
            <h4 class="mb-3">Welcome to Ladder Game!</h4>
            <div classs="p-2">
                <p>
                    Ghost Leg (Chinese: 畫鬼腳), known in Japan as Amidakuji (阿弥陀籤, "Amida lottery", so named because the paper was folded into a fan shape resembling Amida's halo[1]) or in Korea as Sadaritagi (사다리타기, literally "ladder climbing"), is a method of lottery designed to create random pairings between two sets of any number of things, as long as the number of elements in each set is the same. This is often used to distribute things among people, where the number of things distributed is the same as the number of people. For instance, chores or prizes could be assigned fairly and randomly this way.
                </p>
                <p>
                    It consists of vertical lines with horizontal lines connecting two adjacent vertical lines scattered randomly along their length; the horizontal lines are called "legs". The number of vertical lines equals the number of people playing, and at the bottom of each line there is an item - a thing that will be paired with a player. The general rule for playing this game is: choose a line on the top, and follow this line downwards. When a horizontal line is encountered, follow it to get to another vertical line and continue downwards. Repeat this procedure until reaching the end of the vertical line. Then the player is given the thing written at the bottom of the line.
                </p>
                <p>
                    If the elements written above the Ghost Leg are treated as a sequence, and after the Ghost Leg is used, the same elements are written at the bottom, then the starting sequence has been transformed to another permutation. Hence, Ghost Leg can be treated as a kind of permuting operator.
                </p>
            </div>
        </div>
    </div>
</div>
