/* You can add global styles to this file, and also import other style files */
html,
body,
main,
app-root {
  height: 100%;
}

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
    padding-top: 2.5em;
}

.cursor-pointer {
    cursor: pointer;
}


@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 40px;
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #fff;
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
